header {
backgroud-color: #183C63;
color: #FFFFFF
  text-aling: conter;
  max-width: 800px;
  margin: 0 auto;
}

main {
  backgroud-color: #FFFFFF
  color: #183C63;
  max-width: 800px;
  margin: 0 auto;
}
